<html>
<body>
<h1> {{ title }} </h1>
<form method="POST" action="">
    <input type="text" name="Name" placeholder="name">
    <input type="text" name="Iban" placeholder="iban">
    <input type="date" name="Expiry" placeholder="iban">
    <input type="file" name="IdentityPhoto" >
    <input type="submit">
  </form>

</body>
</html>