<html>
<body>
<h1> {{ title }} </h1>
<form method="POST" action="">
    <input type="text" name="Name" value="{{cont.FullName}}">
    <input type="text" name="Iban" value="{{cont.Iban}}">
    <input type="date" name="Expiry" value="{{cont.Expiry}}">
    <input type="submit">
  </form>

</body>
</html>